body {
  background-color: #F7F3E3;
  width: 100%; 
}

nav {
  list-style-type: none;
  background-color: #816C61;
  width: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  margin: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #2B2118;
  font-size: 200%;
  font-family: "Papyrus";
  text-decoration: none;
  text-shadow: 3px 3px #A5978B;
  padding: 15px 30px;
}

li a:hover {
  background-color: antiquewhite;
  color: black; 
  padding: 15px 15px;
}

h1 {
  color: #2B2118;
  font-size: 300%; 
  text-shadow: 3px 3px #A5978B;
  font-family: "Papyrus";
}

p {
  color: #2B2118;
  font-size: 200%; 
  font-family: "Papyrus";
}
